
/*
    see https://docs.microsoft.com/de-de/xamarin/xamarin-forms/user-interface/styles/css/#selector-reference
    .CLASS
    #NAME
*/
navigationpage {
    -xf-bar-background-color: lightgray;
}

^contentpage {
    background-color: lightgray;
}

#listView {
    
}

.projectViewCell {
    background-color: rgba(0,0,0,.2);
}

.imageViewCell {
    background-color: rgba(0,0,0,.2);
}

/* Overlay */
#grdOverlay {
    background-color: white;
    margin:25;
    padding:20,5,5,10;
}
#OverlayCancelX {
    color: black;
    background-color: lightgray;
}

#viewOverlay {
    background-color: lightskyblue;
}
#viewOverlay Label {
    background-color: white;
}
#viewOverlay  Picker {
    height: 24;
    background-color: white;
}