
/*
    see https://docs.microsoft.com/de-de/xamarin/xamarin-forms/user-interface/styles/css/#selector-reference
    .CLASS
    #NAME
*/
navigationpage {
    -xf-bar-background-color: lightgray;
}

^contentpage {
    background-color: lightcoral;
}

#listView {
    background-color: lightcoral;
}

stacklayout {
    margin: 5;
}
.projectViewCell {
    background-color: lightgoldenrodyellow;
}
/* Overlay */
#grdOverlay {
    background-color: white;
    margin:25;
    padding:20,5,5,10;
}
#OverlayCancelX {
    color: black;
    background-color: lightgray;
}

#viewOverlay {
    background-color: lightskyblue;
}
#viewOverlay Label {
    height: 24;
    background-color: white;
}
#viewOverlay  Picker {
    height: 24;
    background-color: green;
}